<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4 container">

  <h2 class="text-center">Productos</h2>
  <% @products.each_slice(4) do |products| %>
    <div class="card-deck">
    <% @products.each do |product| %>
      <div class="card">
      <%= image_tag "https://dummyimage.com/600x400/c7c7c7/737373&text=image", class: 'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <div class="card-text">
            <div class="badge badge-primary"><%= product.categories.first.name %></div>
                <div>
            <%=  number_to_currency product.price %>
                </div>
                <%=  number_to_currency product.price %>
                <%= form_for :cart, url: cart_path, method: :put do |f| %>
                  <%= f.hidden_fielf :product_id, value: 1 product_id %>
                  <%= f.hidden_fielf :quantity, value: 1  %>
                  <%= f.submit "Add To Cart", class: 'btn btn primary btn -sm fluid' %>
                  <% end %>
                  
                </div>
            </div>
          <% end %>
        </div>
        <% end %>
</div>


<br>